/* reglas :el conjunto
selectores : en nombre de a quien se busca
declaraciones : conjunto de propiedades
propiedades : tipo de cambios
valores : parametros de las propiedades
*/
/* 
selector de etiquetas /ej header - section - body/ */
/* selector decendente:
body header div nav ol li a {
 
}
  */
/* selector de clase .nombre 
.barra_de_menu{

}*/
/* selector de id #
#nombre{

} */
*{
/*   padding: 0px; */
  margin: 0px;
  box-sizing: border-box;
}

/* :root{
  --border_color:1px solid grey
} */


/* comienza navbar */

nav{

   background-color: honeydew;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;

    /*  margin-bottom: 10px; */
   /*  box-shadow: 5px 5px 12px 4px #b7b7b7a3; */
  /*   position: fixed;
    top: 0px;
    z-index: +1; */
}

button{
  border: 0;
}
.nav-conteiner{
  width: 1000px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_conteiner{
  display:flex;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px;
  background-image: url(/Images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;

}

/* .menu-conteiner{  
 margin-right: 40px;
} */
ol{
  
  display: flex;
  margin: 15px;
  

}
li{
  margin-left: 15px;
  list-style: none;
}


nav a{
  display: flex;
  text-decoration: none;
  color: rgb(66, 65, 65);
  font-size: 20px;

}

nav a:hover{

  border-bottom: 2px solid grey;
}

/* termina navbar */

main{
  border: 2px solid black;
}

.hero{
  background-color: #000033;
  /* background-color: rgba(11, 97, 255, 0.329); */
  height: 100%;
  background-image: url(/Images/teclado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 78%;
  display: flex;
  justify-content: center;
}

.figure-conteiner{
  display: flex;
  justify-content: center;
  background-color: #000033;
  margin-right: 50px;
  box-shadow: 7px 4px 17px 5px rgba(148, 148, 148, 0.45);
  
}

.profile-sidebar{
  line-height: 1.6;
  min-height: 100%;
  place-items: center;
  background-color: #4f96b3;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.eiam{
  height: 30%;
  width: 30%;
}
.info-box {
color: aliceblue;
margin: 1em;
padding: 1em;
}

.info-box ul{
  padding: 0px;
  margin: 0px;
}
.perfil_img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-size:  cover;
  background-position: center -40px;
  background-repeat: no-repeat;
  background-image: url(/Images/yo.jpg);
  margin: 50px;
}
.hero-text-vid-conteiner{
 
  margin: 50px 0px 50px 0px;
  
  
}
.hero-main-text{
  text-align: center;
  font-size: 25px;
    
}

.hello-word{
  text-align: center;
  color: aliceblue;
  font-size: 50px; margin: 20px auto;
  
}

/*     cuerpo del heroe */

.hero article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  
  
}

.text-video{
  margin: 15px;
  justify-content: center;

}

.hero-side-text{ 
  display: inline-flex;
color:white;
background-color:rgba(31, 31, 32, 0.29);
font-size: 20px;
width: 300px;
flex-shrink: 0;
}
/* 
aqui se controla la altura del video */


.hero-video{ 
  display: flex;
  width: 300px;
  height: 185px;
  flex-shrink: 0;
  background-color: white;
  justify-content: center;
  align-items: center;
}

/*       fin del hereoe */

.blog_conteiner{
  background-color: rgb(100, 237, 191);
  height: 500px;
}
.blog_conteiner h1{
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}
.portfolio_conteiner{
  /* background-color: rgb(52, 76, 121); */
  height: 130%;
 
}
.portfolio_title{
  text-align: center;
  margin: 20px;
  font-size: 25px;
  color:rgb(66, 65, 65);
}

.portfolio-ej-conteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  height: 100%;
  border-bottom: 4px solid rgb(236, 236, 236);
  margin: 15px;
}


.web_conteiner{
margin: 25px;
width: 400px;
flex-shrink: 0;
box-shadow: 5px 5px 5px 0px #b7b7b7a3;
background-color: rgba(142, 194, 230, 0.082);
border-radius: 10px;
overflow: hidden;
}
.web_conteiner img{
  height: 100%;
}

.portfolio-conteiners{
margin: 10px;

/* background-image: url(/Images/web.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain; */
}

/* .porfolio-description{
 background-color: lightseagreen;
} */
.portfolio-head-txt{
  text-align: center;
}

.portfolio-text-in-box{
  margin: 15px;
  
  background-color: rgb(255, 255, 255);
 background-size: 100%;
}

.main_button{
  background-color:cornflowerblue;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color:white;
  border: none;
  cursor: pointer;
  margin-top: 30px;
}

.main_button:hover{
  background-color: rgba(160, 196, 184, 0.877);
}

.tresd_conteiner{
border: var(--border_color);
}
.mic_conteiner{
  border: var(--border_color);
}

.formulario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cyan;
  height: 100%;
}


.formulario-enviar{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.formulario-d{
  display: grid;
 
}

.formulario-d h1{
  color: white;
  margin-bottom: 10px;

}
 .formulario-d input{
   height: 2em;
   border: 0;
 }

 .formulario-d button{
	background-color: cornflowerblue;
	width: 100%;
	padding: 10px;
	font-size: 17px;
	color: white;
	border: none;
	cursor: pointer;
	

 }

.link-redes{
  margin: 20px;
  background-color: mediumaquamarine;

}

.link-redes-F{
  height: 50px;
  width: 50px;
  background-image: url(/Images/facebook-relleno.svg);
  background-size: contain;
  background-color: #00ffff;
}
.link-redes-T{
  height: 50px;
  width: 50px;
  background-image: url(/Images/twitter.svg);
  background-size: contain;
  background-color: #00ffff;
  
}
.link-redes-G{
  height: 50px;
  width: 50px;
  background-image: url(/Images//github.svg);
  background-size: contain;
  background-color: #00ffff;
}


.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: blueviolet;
  height: 50px;
   /* position: fixed; */
  width: 100%;
}

.footer p {
  margin: 20px;
}

/* 
nuevas cajas ejemploz */


