@media (max-width:700px) {
  .main_text{
    padding: 8%;
  }
main .product{
  display: grid;
  /* margin-top: auto; */
  height: auto;
}
main .product .products{
  display: grid;
  margin-top: auto;
}

.main_calidad{
  display: grid;
}

.menciones{
  display: grid;
}

}